body {
    font-family: Arial, sans-serif;
    text-align: center;
}

.countdown {
    background-color: #f0f0f0;
    padding: 20px;
    border-radius: 5px;
    margin: 20px auto;
    max-width: 300px;
}

#timer {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    font-weight: bold;
    color: #333;
}

.countdown-item {
    text-align: center;
}

span {
    padding: 10px;
    background-color: #333;
    color: #fff;
    border-radius: 5px;
}

p {
    font-size: 16px;
    color: #333;
}